.photos-wrap-box {
    background-color: #fff;
    /*padding: 1%;*/
    margin: -1%;
    width: 102%;
}

    .photos-wrap-box .photos-wrap-item {
        float: left;
        background-color: #ccc;
        position: relative; /*父元素给相对定位*/
        overflow: hidden;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        margin: 1%;
    }

    .photos-wrap-box.wrap-1 {
        padding-bottom: 100%;
    }

        .photos-wrap-box.wrap-1 .photos-wrap-item {
            width: 98%;
            padding-bottom: 97%;
        }

    .photos-wrap-box.wrap-2 {
        padding-bottom: 50%;
    }

        .photos-wrap-box.wrap-2 .photos-wrap-item {
            width: 48%;
            padding-bottom: 47%;
        }

    .photos-wrap-box.wrap-3 {
        padding-bottom: 35.33%;
    }

        .photos-wrap-box.wrap-3 .photos-wrap-item {
            width: 31.33%;
            padding-bottom: 32.33%;
        }

    .photos-wrap-box.wrap-4 {
        padding-bottom: 99%;
    }

        .photos-wrap-box.wrap-4 .photos-wrap-item {
            width: 48%;
            padding-bottom: 47%;
        }

    .photos-wrap-box.wrap-5,
    .photos-wrap-box.wrap-6 {
        padding-bottom: 69.67%;
    }

        .photos-wrap-box.wrap-5 .photos-wrap-item,
        .photos-wrap-box.wrap-6 .photos-wrap-item {
            width: 31.33%;
            padding-bottom: 32.33%;
        }

    .photos-wrap-box.wrap-7,
    .photos-wrap-box.wrap-8,
    .photos-wrap-box.wrap-9 {
        padding-bottom: 104%;
    }

        .photos-wrap-box.wrap-7 .photos-wrap-item,
        .photos-wrap-box.wrap-8 .photos-wrap-item,
        .photos-wrap-box.wrap-9 .photos-wrap-item {
            width: 31.33%;
            padding-bottom: 32.33%;
        }

.photos-list {
    list-style: none;
    padding: 0px;
    display: inline-block;
    width: 100%;
}

.photos-list-item {
    width: 100%;
}

.photos-list-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    -moz-box-shadow: 1px 1px 1px #aaa;
    -webkit-box-shadow: 1px 1px 1px #aaa;
    box-shadow: 1px 1px 1px #aaa;
}

    .photos-list-item img:hover {
        -moz-box-shadow: 1px 1px 7px #777;
        -webkit-box-shadow: 1px 1px 7px #777;
        box-shadow: 1px 1px 7px #777;
    }


/*
.photos-list-item img {
    border: 7px solid #fff;
    cursor: pointer;
    position: relative;
    -moz-box-shadow: 1px 1px 1px #aaa;
    -webkit-box-shadow: 1px 1px 1px #aaa;
    box-shadow: 1px 1px 1px #aaa;
}

    .photos-list-item img:hover {
        -moz-box-shadow: 1px 1px 7px #777;
        -webkit-box-shadow: 1px 1px 7px #777;
        box-shadow: 1px 1px 7px #777;
    }
    
.photos-list-item {
    float: left;
    margin: 5px;
}

    .photos-list-item:nth-child(1) {
        margin-left: 0px;
    }

    .photos-list-item:nth-child(even) {
        margin-top: 30px;
    }

    .photos-list-item:nth-child(3n) {
        margin-left: 20px;
    }



    .photos-list-item .photo-remove {
        padding: 4px 6px;
    }

    .photos-list-item:nth-child(even) img {
        height: 75px;
    }

    .photos-list-item:nth-child(odd) img {
        height: 150px;
    }

    .photos-list-item:nth-child(4n) img {
        height: 120px;
    }

    .photos-list-item:nth-child(5n) img {
        height: 180px;
    }

    .photos-list-item:nth-child(6n) img {
        height: 75px;
    }*/

.photo-form {
    margin: 1.6em 0 1.6em 1.6em;
}

.photo-form-container {
    display: inline-block;
}

    .photo-form-container .u-fl {
        width: 50%;
    }