@media (min-width: 768px) and (max-width: 979px) {
    .head,
    .main,
    .foot {
        width: 100%;
    }

    .head {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 18px !important;
    }

    h2 {
        font-size: 16px !important;
    }

    h3 {
        font-size: 14px !important;
    }

    h4 {
        font-size: 12px !important;
    }

    h5 {
        font-size: 10px !important;
    }

    h6 {
        font-size: 8px !important;
    }


    .head,
    .main,
    .foot {
        width: 100%;
    }

    .head {
        padding: 20px;
        position: fixed;
        top: 0px;
        z-index: 1;
        box-shadow: 1px 2px 8px #ddd;
        background-color: #fff;
    }

    .head,
    .foot {
        height: auto;
        line-height: inherit;
    }

    .logo {
        padding-top: 0px;
       
        float: left;
        margin-left: -2px;
    }

        .logo > img {
            width: 75px;
            margin: -5px;
        }

    .head-nav,
    .main {
        margin-top: 76px;
        margin-bottom: 20px;
    }

    .head {
        margin-top: 0;
        text-align: center;
    }

    .head-nav-list {
        padding-top: 20px;
        display: none;
    }

    .head-nav {
        margin-top: 10px;
        margin: 0px;
        float: none;
        clear: both;
    }

    .head-nav-item {
        margin: 0 5px;
        margin-left: 0;
        display: block;
        width: 100%;
        padding: 10px;
        text-align: left;
    }

        .head-nav-item:first-child {
            border-top: 1px solid #fff;
            padding-top: 30px;
        }

    .head-nav-link {
        display: block;
    }

    .head-nav-toggle {
        display: block;
    }

    .post {
        margin-top: 10px;
    }

    .post-head,
    .post-main {
        margin: 20px;
    }

    .post-title {
        font-size: 1.4em !important;
        margin-top: 2px;
    }

    .post-main blockquote,
    .post-main pre {
        margin: 30px -20px;
        padding: 20px;
    }

    .post-foot {
        position: relative;
        padding: 8px 0px;
    }

    .post-tag {
        max-width: 50%;
        overflow: hidden;
    }

    .post-more {
        box-sizing: border-box;
        width: 100%;
        text-align: center;
    }

    .post-image {
        margin: 20px -20px;
    }

        .post-image img {
            margin: 0 auto;
        }

    .post-main .post-pano img {
        height: 240px;
    }

    .comments-list-item [itemprop='commentText'] img {
        width: 100%;
    }

    .comments-list-item .comments-visitor {
        width: 30px;
        height: 30px;
    }

    .comments-list-item .comments-content {
        padding-left: 40px;
    }

    #html-preview {
        display: none;
    }

    .post-markdown {
        width: 100%;
    }

    .front-pager .pagination {
        text-align: center;
    }

        .front-pager .pagination .page-number {
            border-bottom: none;
        }

    .photo-form-container .u-fl {
        float: none;
        width: 100%;
    }

        .photo-form-container .u-fl form {
            margin: 1.6em 0;
        }

    .article-list li span {
        display:block;
    }
}
