@model Guid

<hr />
<header class="post-head">
    <h1 class="post-title">
        <a href="javascript:;">
            Comments
        </a>
    </h1>
</header>
<div id="post-comments" class="post-main echo">
    <div class="loader loader--audioWave"></div>
</div>
<input type="hidden" id="CommentSourceID" value="@Model" />

