<footer class="foot">
    <div class="foot-copy">
        © 2017 BLOG ZDY <a href="http://www.miitbeian.gov.cn/">京ICP备17022188号</a>
    </div>
</footer>
<div class="back-to-top back-to-top-on">
    <i class="icon-arrow-left"></i>
</div>