@inject Microsoft.Extensions.Configuration.IConfiguration _config
<footer class="foot">
    <div class="foot-copy">
        © 2017 - 2018 #@_config["Blog:Description"]  <br />
        BLOG ZDY <a href="http://www.miitbeian.gov.cn/">京ICP备17022188号</a>
    </div>
</footer>
<div class="back-to-top back-to-top-on">
    <i class="icon-arrow-left"></i>
</div>