<header class="head">
    <a href="/" class="logo">
        <img src="~/images/logo.jpg" />
    </a>
    <div class="head-nav-toggle">
        <button>
            <span class="btn-bar"></span> 
            <span class="btn-bar"></span> 
            <span class="btn-bar"></span>
        </button>
    </div>

    @if (Context.Request.Path.Value.ToLower().IndexOf("admin") == -1)
    {
        @Html.Partial("_Nav.cshtml")
    }
    else if(User.Identity.IsAuthenticated)
    {
        @Html.Partial("_NavAdmin.cshtml")
    }
</header>