<nav class="head-nav">
    <ul class="head-nav-list">
        <li class="head-nav-item">
            <a href="/" class="head-nav-link">
                Home
            </a>
        </li>
        <li class="head-nav-item">
            <a href="/archives" class="head-nav-link">
                Archives
            </a>
        </li>
        <li class="head-nav-item">
            <a href="/labels" class="head-nav-link">
                Labels
            </a>
        </li>
        <li class="head-nav-item">
            <a href="/gallery" class="head-nav-link">
                Gallery
            </a>
        </li>
        <li class="head-nav-item">
            <a href="/music" class="head-nav-link">
                Music
            </a>
        </li>
        <li class="head-nav-item">
            <a href="/iland" class="head-nav-link">
                ILand
            </a>
        </li>
        <li class="head-nav-item">
            <a href="/about" class="head-nav-link">
                About
            </a>
        </li>
    </ul>
</nav>
