<nav class="head-nav">
    <ul class="head-nav-list">
        <li class="head-nav-item">
            <a href="/Admin/Index" class="head-nav-link">
                Index
            </a>
        </li>
        <li class="head-nav-item">
            <a href="/Admin/PostEdit" class="head-nav-link">
                PostNew
            </a>
        </li>
        <li class="head-nav-item">
            <a href="/Admin/PostManage" class="head-nav-link">
                Posts
            </a>
        </li>
        <li class="head-nav-item">
            <a href="/Admin/GalleryEdit" class="head-nav-link">
                GalleryNew
            </a>
        </li>
        <li class="head-nav-item">
            <a href="/Admin/GalleryManage" class="head-nav-link">
                Galleries
            </a>
        </li>
        <li class="head-nav-item">
            <a href="/Admin/CommentManage" class="head-nav-link">
                Comments
            </a>
        </li>
    </ul>
</nav>