<nav class="head-nav u-fr">
    <ul class="head-nav-list">
        <li class="head-nav-item">
            <a href="/" class="head-nav-link">
                Home
            </a>
        </li>
        <li class="head-nav-item">
            <a href="/Archives" class="head-nav-link">
                Archives
            </a>
        </li>
        <li class="head-nav-item">
            <a href="/Categories" class="head-nav-link">
                Categories
            </a>
        </li>
        <li class="head-nav-item">
            <a href="/Photos" class="head-nav-link">
                Photos
            </a>
        </li>
        <li class="head-nav-item">
            <a href="/ILand" class="head-nav-link">
                ILand
            </a>
        </li>
        <li class="head-nav-item">
            <a href="/About" class="head-nav-link">
                About
            </a>
        </li>
    </ul>
</nav>
