
@{
    ViewData["Title"] = "Music";
}
<article class="post">
    <div class="post-main">
        <p style="margin-bottom: -10px;">A list of music I often listen to.</p>
    </div>
    <div class="post-main" id="main" style="text-align:center;">
        <iframe id="player" frameBorder="no" marginWidth="0" marginheight="0" width="100" height="600" style="margin-left:-8px" src="//music.163.com/outchain/player?type=0&id=2268519461&auto=1&height=580"></iframe>
    </div>
</article>

@section Scripts{
    <script type="text/javascript">
        var main = document.getElementById("main")

        function resizePlayer() { 
            $("#player").width(main.clientWidth + 16)
        }

        $(document).ready(function () { 
            resizePlayer()

            $(window).resize(function () {
                resizePlayer()
            });
        })

    </script>
}
